#projects {
    padding: 40px 20px;
    margin-top: 180px;
    text-align: center;
    margin-bottom: 400px;
}

#projects h2 {
    font-size: 2.5em;
    margin-bottom: 40px;
    color: #ffffff;
}

.project-container {
    display: flex;
    flex-wrap: wrap; /* Wrap the cards to next line if needed */
    justify-content: center; /* Center-aligns the project cards */
    gap: 25px; /* Adds smaller space between the cards */
    overflow-x: auto; /* Allows horizontal scrolling if cards overflow */
}

.project-card {
    flex: 1 0 240px; /* Reducing the base width of the cards */
    max-width: 400px; /* Maximum width of the card */
    display: grid;
    place-content: center;
    color: white;
    text-shadow: 0 1px 0 #000;
    background: #1c353542;
    border-radius: 8px;
    padding: 15px; /* Reduced padding inside the card */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    box-shadow: 0 1px 5px rgb(133, 213, 86); /* Added shadow to the card */
}

.project-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 5px rgba(241, 249, 17, 0.762);
}

.project-card h3 {
    font-size: 1.4em; /* Reduced the title font size */
    margin-top: 1px;
    color: #ffffff;
}

.project-card p {
    font-size: 1em; /* Reduced the paragraph font size */
    line-height: 1.5;
    color: #ddd;
    text-align: left;
    margin: 10px 10px; /* Reduced margin */
}

.project-card .project-icon {
    width: 20px; /* Reduced icon size */
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.project-card a {
    font-size: 1.6em;
    margin-bottom: 5px;
    color: #ffffff;
    display: block;
}
.project-card a:hover {
    font-size: 1.7em;
    margin-bottom: 5px;
    color: #06ff02;
    display: block;
}