/* src/components/CertificatesAchievements.css */
#certificates-achievements {
    padding: 200px;
    text-align: center;
    color: #fff; /* Set text color to white */
}

#certificates-achievements h2 {
    font-size: 2.5em;
    margin-bottom: 70px;
    color: #fff; /* Changed color to white */
}

.extracurricular {
    margin-bottom: 20px;
    
}

.activity {
    border-radius: 8px;
    padding: 10px;
    box-shadow: 0 1px 10px rgb(255, 255, 255); /* Added shadow to the card */
    background-color: #333; /* Card background color */
    margin-bottom: 50px;
}

.activity h4 {
    margin: 0;
    font-size: 1.4em;
    color: #fff; /* Changed color to white */
}

.activity p {
    font-size: 1.2em;
    line-height: 1.5;
    color: #fff; /* Changed color to white */
}
