#skills {
    padding: 100px 20px;
    text-align: center;
}

#skills h2 {
    font-size: 2.8em;
    margin-bottom: 40px;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Text shadow for title */
}

.skills-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.skill-card {
    background-color: rgba(28, 53, 85, 0.8); /* Transparent dark background */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 12px;
    text-align: center;
    width: 130px;
    height: 130px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
}

.skill-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 25px rgba(255, 255, 255, 0.3);
}

.skill-card-front {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #ffffff;
}

.skill-card-front .fa {
    color: #007bff; /* Icon color for a professional look */
    margin-bottom: 10px;
    transition: color 0.3s;
}

.skill-card:hover .fa {
    color: #17a2b8; /* Change icon color on hover */
}

.skill-card h3 {
    font-size: 1.4em;
    margin: 15px 0;
}

/* Symbol styling for skill levels */
.skill-symbol {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.symbol {
    font-size: 0.9em;
    color: #ffffff;
    opacity: 0.6; /* Slightly faded symbol */
}

.skill-card:hover .symbol {
    opacity: 1; /* Full opacity on hover */
}

.symbol-star {
    color: #ffce31; /* Yellow stars for a professional look */
}

.symbol-beginner {
    color: #dc3545; /* Red for beginner level */
}

.symbol-intermediate {
    color: #ffc107; /* Amber for intermediate level */
}

.symbol-expert {
    color: #28a745; /* Green for expert level */
}
