#about-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 20px;
    max-width: 1200px; 
    margin: auto;
    gap: 40px;
    /* box-shadow: 0 1px 10px rgb(255, 255, 255); Added shadow to the card */

}

#about {
    flex: 1;
    border-radius: 8px;
    color: #fff;
    background-color: #1c353542;
    padding: 20px;
    text-align: center;
    box-shadow: 0 1px 5px rgb(133, 213, 86); /* Added shadow to the card */

}
#about:hover{
    transform: translateY(-1px);
    box-shadow: 0 1px 5px rgba(241, 249, 17, 0.762);
}

#about h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #fff;
}

#about p {
    font-size: 1.1em;
    line-height: 1.6;
    color: #ddd;
}

.education {
    flex: 1;
    width: 100%;
}

.education h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
    text-align: center;
}

.edu-item {
    background-color: #1c353542;

    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
    box-shadow: 0 1px 5px rgb(133, 213, 86); /* Added shadow to the card */

}

/* Hover effect on education cards */
.edu-item:hover {
    transform: translateY(-1px);
    box-shadow: 0 1px 5px rgba(241, 249, 17, 0.762);

}

.edu-item h4 {
    margin: 0; 
    font-size: 1.4em;
    color: #fff;
}

.edu-item p {
    margin: 10px 0;
    color: #ddd;
}

.edu-item a {
    color: #415057; 
    text-decoration: none;
    font-size: 1em;
}

/* Responsive adjustments */
@media (min-width: 768px) {
    #about-container {
        flex-direction: row;
        justify-content: space-between;
    }

    .education {
        margin-left: 20px;
    }
}
.edu-item a {
    font-size: 1.6em;
    margin-bottom: 5px;
    color: #ffffff;
    display: block;
}
.edu-item a:hover {
    font-size: 1.7em;
    margin-bottom: 5px;
    color: #06ff02;
    display: block;
}