#contact {
    display: flex;
    margin-bottom: 200px;
    justify-content: space-between;
    padding: 40px;
    color: #fff;
    background-color: #1c353542;
    margin-top: 400px;

    max-width: 1200px;
    margin: auto;
    border-radius: 8px;
  }
  
  .contact-message {
    flex: 1;
    margin-right: 20px;
    margin-bottom: 200px;

  }
  
  .contact-message h2 {
    font-size: 2.5em;
    margin-bottom: 20px;
  }
  
  .contact-message p {
    font-size: 1.1em;
    line-height: 1.6;
  }
  
  .contact-form {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .contact-form h2 {
    font-size: 2em;
    margin-bottom: 15px;
  }
  
  .contact-form input, 
  .contact-form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    
    color: #fff;
    font-size: 1em;
  }
  
  .contact-form button {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background: #007BFF;
    color: #fff;
    font-size: 1em;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .contact-form button:hover {
    background: #0056b3;
  }
  
  /* Responsive adjustments */
  @media (max-width: 768px) {
    #contact {
      flex-direction: column;
    }
  
    .contact-message {
      margin-right: 0;
      margin-bottom: 20px;
    }
  }
  