/* src/components/Footer.css */

.footer {
    position: fixed; /* Keep footer fixed at the bottom */
    bottom: 0; /* Align to the bottom of the viewport */
    left: 0; /* Align to the left of the viewport */
    width: 100%; /* Full width */
    color: #fff;
    padding: 15px;
    text-align: center;
    background-color: #333; /* Optional: Background color for better contrast */
    z-index: 1000; /* Ensure footer is on top of other content */
}

.footer-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content p {
    margin: 1px 0;
}

.footer-content .social-links {
    display: flex;
    justify-content: center;
    gap: 20px; /* Space between icons */
    margin-top: 10px;
}

.footer-content .social-links a {
    color: #00aaff;
    text-decoration: none;
    display: flex;
    align-items: center;
    transition: transform 0.3s; /* Smooth transition for hover effect */
}

.footer-content .social-links a:hover {
    text-decoration: underline;
    transform: scale(2.0); /* Increase size on hover */
}

.footer-content .social-links .faGithub,
.footer-content .social-links .faLinkedin,
.footer-content .social-links .faTwitter,
.footer-content .social-links .faCode,
.footer-content .social-links .faInstagram,
.footer-content .social-links .faEnvelope {
    margin-right: 8px; /* Space between icon and text */
}
